.main {
  background-color: #252d4a;
  width: 60vw;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.section {
  display: flex;
  flex-direction: row;
}
.scoreSection {
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  align-items: center;
  justify-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.questionSection {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.questionCount {
  margin-bottom: 20px;
}

.questionCount span {
  font-size: 28px;
}

.questionText {
  margin-bottom: 12px;
}

/* ANSWERS/RIGHT SECTION */
.answerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonRep {
  width: 50% !important;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
  margin: 10px;
}
.buttonSection {
  width: 100%;
  justify-content: center;
  display: flex;
}
.button {
  margin: 5px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

.correct {
  margin: 5px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #294f32;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}
.incorrect {
  margin: 5px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #733232;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}


.button:hover {
  background-color: #555e7d;
}
.buttonRep:hover {
  background-color: #555e7d;
}




@media (max-width: 600px) {
  .main {
    width: 80vw;
    flex-direction: column;
  }

  .questionCount {
    font-size: 1.5rem;
  }

  .scoreSection h2 {
    font-size: 1.5rem;
  }
  .button {
    margin: 0.5rem 0;
  }
}
